@font-face {
    font-family: PixelEmulator;
    src: url(../fonts/pixelemulator.woff);
}

@font-face {
    font-family: Pixeboy;
    src: url(../fonts/pixeboy.woff);
}
@font-face {
    font-family: AncientModernTales;
    src: url(../fonts/ancientmoderntales.woff);
}

.chess-board { user-select: none; border-spacing: 0; border-collapse: collapse; margin-left: auto; margin-right: auto; }
            .chess-board th { padding: .5em; }
            .chess-board td { border: 1px solid; width: 4em; height: 4em; }
            .chess-board .white { background: #eee; }
            .chess-board .black { background: #000; }
            /* #right table {border: 1px solid;} */
            /* #right th { padding: .5em;} */
            /* #right td {border: 1px solid; width: 2em; height: 2em;} */

.chess-board td  {
    text-align:center;
    margin:auto;
    user-select: none;
}

.chess-board th {
    font-family: PixelEmulator;
    font-size: 1em;
}

.chess-board td > img {
    height: 40px;
    width: 40px;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

.chess-board td:hover {
    position: absolute;
    border-color: green;
    border-width: 2.5px;
    cursor: pointer;
    user-select: none;
}

#table1{
    font-family: Pixeboy;
    font-size: 2em;
    user-select: none;
    position: absolute;
    margin:auto;
    left: 75%;
    bottom: 75%;
}

#table2{
    font-family: Pixeboy;
    font-size: 2em;
    user-select: none;
    position: absolute;
    margin:auto;
    left: 75%;
    bottom: 45%;
}

#state {
    font-family: PixelEmulator;
    text-align: center;
    user-select: none;
}

#right img {
    height: 40px;
    width:40px;
}

.history{
    position: absolute;
    left:2cm;
    top: 27%;
    text-align: center;
}

.history h2{
    margin: 10%;
}

.history p{
    margin: 5%;
}

#historyElements{
    border-width: 3px;
    width:2.5cm;
    height:5cm;
    left:1cm;
    border-color: black;
    overflow: auto;
    top: 20%;
}

#turn{
    font-family: PixelEmulator;
    font-size: 1.5em;
    user-select: none;
    position: absolute;
    bottom: 40%;
    color: grey;
    left: 5%;
}