@font-face {
    font-family: PixelEmulator;
    src: url(../fonts/pixelemulator.woff);
}

@font-face {
    font-family: Pixeboy;
    src: url(../fonts/pixeboy.woff);
}
@font-face {
    font-family: AncientModernTales;
    src: url(../fonts/ancientmoderntales.woff);
}

@keyframes buttonAnim {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }

.chess-board {user-select: none; border-spacing: 0; border-collapse: collapse; margin-left: auto; margin-right: auto; }
            .chess-board th { padding: .5em; }
            .chess-board td { border: 1px black solid; width: 4em; height: 4em; }
            .chess-board .white { background: #eee; }
            .chess-board .black { background: #000; }
            /* #right table {border: 1px solid;} */
            /* #right th { padding: .5em;} */
            /* #right td {border: 1px solid; width: 2em; height: 2em;} */

.chess-board td  {
    text-align:center;
    user-select: none;
    margin: auto;
}

.chess-board th {
    font-family: PixelEmulator;
    font-size: 1em;
}

.chess-board td > img {
    height: 40px;
    width: 40px;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

.chess-board td:hover {
    position:absolute;
    border: solid green 2.5px;
    cursor: pointer;
    user-select: none;
}

#table1{
    font-family: Pixeboy;
    font-size: 2em;
    user-select: none;
    position: absolute;
    margin:auto;
    left: 75%;
    bottom: 75%;
}

#table2{
    font-family: Pixeboy;
    font-size: 2em;
    user-select: none;
    position: absolute;
    margin:auto;
    left: 75%;
    bottom: 45%;
}

#state {
    font-family: PixelEmulator;
    text-align: center;
    user-select: none;
}

#right img {
    height: 40px;
    width:40px;
}

.history{
    position: absolute;
    left:7cm;
    top: 20%;
    text-align: center;
}

.history h2{
    margin: 10%;
    font-family: PixelEmulator;
}

.history p{
    margin: 5%;
    font-family: PixelEmulator;
}

#historyElements{
    border-width: 3px;
    width:2.5cm;
    height:3cm;
    left:1cm;
    overflow: auto;
    top: 20%;
}

#turn{
    font-family: PixelEmulator;
    font-size: 1.5em;
    user-select: none;
    position: absolute;
    bottom: 40%;
    color: black;
    left: 5%;
}

#darkmode{
    position: absolute;
    left: 90%;
}

#darkmode button{
    font-family: PixelEmulator;
    text-align: center;
    font-size: 15px;
    color:white;
    background: black;
    border-radius:13px;
    width: 122px;
    height: 40px;
    cursor: pointer;
}

#quitBtn{
    position: absolute;
    top: 80%;
    right: 45%;
    cursor: pointer;
}

#quitBtn input{
    font-family: PixelEmulator;
    text-align: center;
    font-size: 25px;
    color: white;
    background: black;
    border-radius:13px;
    width: 135px;
    height: 50px;
    cursor: pointer;
}

#center div{
    position: absolute;
    width: 400px;
    height: 200px;
    bottom: 50%;
    left: 40%;
    color: white;
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 13px;
    background-color: black;
    text-align: center;
}

#timer {
    font-family: PixelEmulator;
}

#center input{
    font-family: PixelEmulator;
    border-radius:13px;
    width: 100px;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
}

#center h1{
    font-family: PixelEmulator;
    /* color: brown; */
    margin: 10px;
    font-size: 35px;
}

#center p{
    font-family: PixelEmulator;
    /* color:green; */
    margin: 25px;
    font-size: 25px;
}

button:hover, input:hover{
    animation: buttonAnim 0.9s linear alternate both;
}