.chess-board { border-spacing: 0; border-collapse: collapse; margin-left: auto; margin-right: auto; }
            .chess-board th { padding: .5em; }
            .chess-board td { border: 1px solid; width: 4em; height: 4em; }
            .chess-board .white { background: #eee; }
            .chess-board .black { background: #000; }
            #right table {border: 1px solid;}
            #right th { padding: .5em;}
            #right td {border: 1px solid; width: 2em; height: 2em;}

.chess-board td  {
    text-align:center;
    margin:auto;
}

.chess-board td > img {
    height: 40px;
    width: 40px;
}