@font-face {
    font-family: PixelEmulator;
    src: url(../fonts/pixelemulator.woff);
}

@font-face {
    font-family: Pixeboy;
    src: url(../fonts/pixeboy.woff);
}
@font-face {
    font-family: AncientModernTales;
    src: url(../fonts/ancientmoderntales.woff);
}

@keyframes buttonAnim {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }

@keyframes glow {
	0% {
		text-shadow: none;

		color: #ccc;
	}

	70% {
		text-shadow: 0 0 30px #4d4c4c, 0 0 40px #4d4c4c, 0 0 40px #4d4c4c,
			0 0 60px #4d4c4c, 0 0 60px #2b2b2b, 0 0 30px #4d4c4c, 0 0 98px #2b2b2b;
		color: #fff;
	}

	100% {
		text-shadow: none;
		color: #ccc;
	}
}

@keyframes TextAnim {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
h1 {
    font-family: AncientModernTales;
    font-size:10em;
    text-align: center;
    margin: auto;
    user-select: none;

    text-shadow: none;
    animation: TextAnim 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.right-horse{
    position: absolute;
    right: 100px;
}


.darkBtn{
    font-family: PixelEmulator;
    text-align: center;
    font-size: 15px;
    color:white;
    background: black;
    border-radius:13px;
    width: 122px;
    height: 40px;
    cursor: pointer;
}

#buttons {
    text-align:center;
    position: absolute;
    border-radius:13px;
    right:40%;
    top: 30%;
    margin: auto;
}

#buttons button, input {
    font-family: Pixeboy;
    margin:15px;
    box-shadow:0 0 7px black;
    color:white;
    background: black;
    cursor: pointer;
    border-radius:13px;
    font-size:5em;
}

button:hover,input:hover{
    animation: buttonAnim 0.9s linear alternate both;
}